# Auto detect text files and perform LF normalization
* text=auto
*.res eol=crlf
*.txt eol=crlf
*.cfg eol=crlf
*.vmt eol=crlf

# proper language detection
*.vdf linguist-detectable=true
*.res linguist-detectable=true linguist-language=vdf
*.txt linguist-detectable=true linguist-language=vdf
*.vmt linguist-detectable=true linguist-language=vdf

# Do not export these files on download
.gitattributes export-ignore
.gitignore export-ignore
.git export-ignore
.github export-ignore
docs/page export-ignore
docs/wiki export-ignore
README.md export-ignore
CONTRIBUTING.md export-ignore
